* {
  font-family: Helvetica;
}

.navbar {
  background: #fff;
  border-bottom: 1px solid #000;
  padding: .5rem;
}

.container {
  width: 80%;
  margin: auto;
}

.navbar .container {
  display: flex;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin-left: 1rem;
}

.navbar ul li a {
  text-decoration: none;
  color: #000;
  margin-left: 1rem;
  font-size: 1rem;
}

button {
  margin-top: 1rem;
  position: absolute;
  right: 1rem;
  background: rgb(113, 68, 197);
  color: #fff;
  border: 0;
  width: 100px;
  border-radius: 15px;
  cursor: pointer;
  padding: .9rem;
}

form {
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  position: absolute;
  top: -800px;
  left: 50%;
  transform: translate(-50%);
  width: 500px;
  transition: top .8s;

  border: 1.5px solid #ddd;
  height: 400px;
}

label {
  display: block;
  font-size: 1rem;
}

input, textarea {
  box-sizing: border-box;
  border: 2px solid #ddd;
  border-radius: 8px;
  outline: none;
  padding: .5rem;
  margin: 1rem 0;
  display: block;
  width: 100%;
}


input:focus, textarea:focus {
  border: 2px solid dodgerblue;
  transition: .6s;
}

textarea {
  resize: none;
  height: 100px;
}

form h2 {
  text-align: center;
}

form span {
  position: relative;
  top: 1rem;
  left: 95%;
  font-size: 2rem;
  font-weight: bold;
  color: #ddd;

}

form span:hover {
  cursor: pointer;
  color: #000;
}

form button {
  width: 90%;
  background: dodgerblue;
  color: #fff;
  padding: .5rem;
  border: 0;
  border-radius: 8px;
  box-sizing: border-box;
}

.bg-dark {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
  margin-left: -.5rem;
}