{% extends "layout.html" %}

{% block title %}
  Todo App in Flask
{% endblock %}

{% block body %}
  <button id="add-todo">Add todo</button>
  <div id="modal">
    <form action="{{ url_for('home') }}" class="closed" id="modal-form" method=post>
      <span id="close-btn">&times;</span>
      <h2>Add Todo details</h2>
      <label>Title:</label>
      <input type="text" maxlength=20 name="title">

      <label>Message:</label>
      <textarea name="message"></textarea>

      <button>Submit</button>
    </form>
  </div>

  <div class="todo-container">
    <h2>{{ cnt }} Pending todos</h2>
    {% if cnt != 0 %}
      {% for todo in todos %}
        <div class="todo-card">
          <div class="todo-content">
            <a href="{{ url_for('todo', todo_id=todo.id) }}" target="_blank">{{ todo.title }}</a>
          </div>
          <div class="btn-box">
            <a id="complete" type="button" href="{{ url_for('complete_todo', todo_id=todo.id) }}">
              Mark as complete
            </a>
            <a id="delete" type="button" href="{{ url_for('delete_todo', todo_id=todo.id) }}">
              Delete todo
            </a>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>
{% endblock %}

{% block script %}
  <script src="{{ url_for('static', filename='/js/index.js') }}"></script>
{% endblock %}